
#
# Status Bar:
#
# Read `man 5 sway-bar` for more information about this section.
bar {
    position top

    # workspace_buttons yes


    # When the status_command prints a new line to stdout, swaybar updates.
    # The default just shows the current date and time.
    status_command while date +'%Y-%m-%d %H:%M:%S'; do sleep 1; done

    colors {
        statusline #ffffff
        background #000000
        separator #dddddd
        active_workspace #000000 #000000 #ffffff
        focused_workspace #000000 #000000 #ffffff
        inactive_workspace #000000 #000000 #5c5c5c
        urgent_workspace #000000 #ff0000 #eeeeee
    }
}
