global !p
from latex_environments import math, comment, env
endglobal

context "math()"
snippet sq "\sqrt{}" iA
\sqrt{${1:${VISUAL}}} $0
endsnippet

context "math()"
snippet ps "+" iA 
 + 
endsnippet

context "math()"
snippet ms "-" iA 
 - 
endsnippet

context "math()"
snippet +- "+-" iA 
 \pm 
endsnippet

context "math()"
snippet sr "^2" iA
^2
endsnippet

context "math()"
snippet cb "^3" iA
^3
endsnippet

context "math()"
snippet td "to the ... power" iA
^{$1}$0
endsnippet

context "math()"
snippet rd "to the ... power" iA
^{($1)}$0
endsnippet
