global !p
from latex_environments import math, comment, env
endglobal

# put a letter in math mode
# snippet '((\d+)|(\d*)(\\)?([A-Za-z]+)((\^|_)(\{\d+\}|\d))*)ml' "math mode" rwA
snippet '([a-zA-Z])ml' "math mode" rwA
$`!p snip.rv=match.group(1)`$ 
endsnippet

# \b regex boundary check no word/letter prior (could try \s whitespace match)
snippet '\b([a-zA-Z])mm' "math mode" rwA
$`!p snip.rv=match.group(1)`$
endsnippet

# script letters
context "math()"
snippet mcal "mathcal" iA
\mathcal{$1}$0
endsnippet

# cursive l
context "math()"
snippet lll "l" iA
\ell
endsnippet

# standard units
snippet SI "SI" iA
\SI{$1}{$2}
endsnippet

snippet b() "binomial coefficient" iA 
\binom{$1}{$2}
endsnippet

snippet binm "binomial coefficient" iA 
\binom{${1:n}}{${2:k}} 
endsnippet

snippet pntm "phantom spacing" iA
\phantom{$1} $0 
endsnippet

context "math()"
snippet ex "e^x" iA 
e^x 
endsnippet
