global !p
from latex_environments import math, comment, env
endglobal

# script letters
context "math()"
snippet mcal "mathcal" iA
\mathcal{$1}$0
endsnippet

# cursive l
context "math()"
snippet lll "l" iA
\ell
endsnippet

# standard units
snippet SI "SI" iA
\SI{$1}{$2}
endsnippet

snippet b() "binomial coefficient" iA 
\binom{$1}{$2}
endsnippet

snippet binm "binomial coefficient" iA 
\binom{${1:n}}{${2:k}} 
endsnippet

snippet pntm "phantom spacing" iA
\phantom{$1} $0 
endsnippet
