global !p
from latex_environments import math, comment, env
endglobal

context "math()"
# snippet "([xy])([ijmn])" "common subscripts" irA
snippet "([xy])([ij])" "common subscripts" irA
`!p snip.rv = match.group(1) + "_" + match.group(2)`
endsnippet

# context "math()"
# snippet "([xy])([ijmn])\2" "common subscript + 1" irA
# `!p snip.rv = match.group(1) + "_{" + match.group(2) + "+1}"`
# endsnippet

snippet oset "overset" iA
\overset{$1}{$2}$0
endsnippet

snippet uset "underset" iA
\underset{$1}{$2}$0
endsnippet

context "math()"
snippet bset "beneath limits" iA 
\limits_{$1} $0 
endsnippet

context "math()"
snippet sbs "subscript" iA
_{$1}$0
endsnippet
snippet __ "subscript" iA
_{$1}$0
endsnippet

# why is there regex to block an "i" here?
context "math()"
snippet '(?<!i)stt' "text subscript" irA
_\text{$1} $0
endsnippet

context "math()"
snippet '([A-Za-z])(\d)' "auto subscript" rwA
`!p snip.rv = match.group(1)`_`!p snip.rv = match.group(2)`
endsnippet

context "math()"
snippet '([A-Za-z])_(\d\d)' "auto subscript2" rwA
`!p snip.rv = match.group(1)`_{`!p snip.rv = match.group(2)`}
endsnippet

context "math()"
snippet '(?<!\\)(oo|infty)' "infinity" rwA
\infty
endsnippet
