global !p
from latex_environments import math, comment, env
endglobal

context "math()"
snippet <= "leq" iA
\le 
endsnippet

context "math()"
snippet >= "geq" iA
\ge 
endsnippet

context "math()"
snippet != "equals" iA
\neq 
endsnippet

context "math()"
snippet leq "less than equal to" iA
\le 
endsnippet

context "math()"
snippet geq "greater than equal to" iA
\ge 
endsnippet

context "math()"
snippet neq "not equal to" iA
\neq 
endsnippet
