global !p
from latex_environments import math, comment, env
endglobal

snippet <= "leq" iA
\le 
endsnippet

snippet >= "geq" iA
\ge 
endsnippet

snippet != "equals" iA
\neq 
endsnippet

snippet leq "less than equal to" iA
\le
endsnippet

snippet geq "greater than equal to" iA
\ge
endsnippet

snippet neq "not equal to" iA
\neq
endsnippet
