global !p
from latex_environments import math, comment, env
endglobal

snippet NN "n" iA
\N
endsnippet

snippet OO "emptyset" iA
\O
endsnippet

snippet RR "real" iA
\R
endsnippet

snippet QQ "Q" iA
\Q
endsnippet

snippet ZZ "Z" iA
\Z
endsnippet

snippet zzn "Zn" iA 
\Z_n
endsnippet

snippet R0+ "R0+" iA
\\R_0^+
endsnippet

snippet HH "H" iA
\mathbb{H}
endsnippet

snippet DD "D" iA
\D
endsnippet

snippet CC "C" iA
\\C
endsnippet

context "math()"
snippet openset "Omega" iA 
\Omega 
endsnippet
