global !p
from latex_environments import math, comment, env
endglobal

# standard units
snippet SI "SI" iA
\SI{$1}{$2}
endsnippet

# snippet letw "let omega" iA
# Let $\Omega \subset \C$ be open.
# endsnippet


# vim:ft=snippets
