# /**/.git/
tmux/plugins/*
zsh/**/.git/
zsh/themes/powerlevel10k/.git/
nvim/pythonx/__pycache__/
nvim/lazy-lock.json
ssh/config
keepassxc/
inkscape/
GIMP/
Thunar/
xfce4/
Signal/
pulse/
dconf/
htop/
spotify/
gtk-3.0/
github-copilot/
balenaEtcher/
OpenRGB/
