# /**/.git/
tmux/plugins/*
zsh/**/.git/*
nvim.nvchad/.git
nvim.nvchad.base/.git
zsh/themes/powerlevel10k/.git/
nvim/.git/*
nvim/pythonx/__pycache__/
nvim/lazy-lock.json
keepassxc/
inkscape/
GIMP/
Thunar/
xfce4/
Signal/
pulse/
dconf/
htop/
spotify/
blender/
github-copilot/
balenaEtcher/
OpenRGB/
virt-viewer/
QtProject.conf
mimeapps.list
libreoffice/
binwalk/
Flipper\ Devices\ Inc/
qmk/qmk.ini
JetBrains/
lftp/
