# /**/.git/
balenaEtcher/
binwalk/
blender/
CurseForge/
dconf/
@electron-forge/
electron-store-nodejs/
Flipper\ Devices\ Inc/
ghc/
GIMP/
github-copilot/
htop/
inkscape/
JetBrains/
keepassxc/
lftp/
libreoffice/
mimeapps.list
nvim.nvchad.base/.git
nvim.nvchad/.git
nvim/.git/*
nvim/lazy-lock.json
nvim/pythonx/__pycache__/
OpenRGB/
Proton Mail/
pulse/
qmk/qmk.ini
QtProject.conf
Signal/
spotify/
Thunar/
tmux/plugins/*
virt-viewer/
xfce4/
zsh/**/.git/*
# zsh/themes/powerlevel10k/.git/
